* {
      font-family: sans-serif;
}
#container {
      width: 50%;
}
.discussion-container {
      border: 1px solid lightgray;
      padding: 10px;
      background: white;
      margin-bottom: 20px;
      border-radius: 4px;
}
.title {
      margin: 0 auto;
      border: 0;
}

.picture {
      display: block;
      max-height: 512px;
}
.pic-container {
      display: flex;
      justify-content: center;
      padding: 20px;
      background: white;
}
.posted-by-container {
      padding:10px 0px 0 0;
}
.button-container {
      display: flex;
      justify-content: flex-start;
}
.button-container button {
      background: transparent;
      border: 0px;
      width: 10vw;
      padding: 5px;
      transition: 0.3s;
}
.button-container button:hover {
      background: lightgray;
      cursor: pointer;
}