#navbar {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.nav-link {
      text-decoration: none;
      font-size: 1.25em;
      padding: 10px 30px 10px 30px;
}
#log-in-button {
align-text: center;
border: 1px solid #0079d3;
border-radius: 4px;
background: #0079d3;
color: white;
padding: 10px;
margin-left: 10px;
transition: 0.3s;
}
#sign-up-button {
align-text: center;
border: 1px solid #0079d3;
border-radius: 4px;
background: #0079d3;
color: white;
padding: 10px;
margin-left: 10px;
transition: 0.3s;
}
#log-in-button:hover {
      cursor: pointer;
      filter:brightness(120%);
}
#sign-up-button:hover {
      cursor: pointer;
      filter:brightness(120%);
}
