.signup-container {
      background: white;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      width: 30%;
      border-radius: 10px;
}
.signup-container h2 {
      margin: 5% 0 5% 0;
}
#signup-page-container {
      padding-top: 10%;
}
input[type=text], input[type=password], input[type=email] {
      margin: 1rem 0 1rem 0;
      padding: 5px;
      width: 25vw;
      border-radius: 5px;
      border: 1px solid lightgray;
}                     
#signup-button {
      text-align: center;
      border: 1px solid #0079d3;
      border-radius: 4px;
      background: #0079d3;
      color: white;
      padding: 10px;
      margin-top: 10px;
      transition: 0.3s;
}
#signup-button:hover {
      cursor: pointer;
      filter:brightness(120%);
}
.error-text {
      color: red;
}